# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build products
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bindings/Makefile
bindings/Makefile.in
bindings/python/.deps/
bindings/python/Makefile
bindings/python/Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/ario.desktop
data/ario.desktop.in
data/icons/Makefile
data/icons/Makefile.in
data/icons/hicolor/128x128/Makefile
data/icons/hicolor/128x128/Makefile.in
data/icons/hicolor/128x128/apps/Makefile
data/icons/hicolor/128x128/apps/Makefile.in
data/icons/hicolor/16x16/Makefile
data/icons/hicolor/16x16/Makefile.in
data/icons/hicolor/16x16/apps/Makefile
data/icons/hicolor/16x16/apps/Makefile.in
data/icons/hicolor/22x22/Makefile
data/icons/hicolor/22x22/Makefile.in
data/icons/hicolor/22x22/apps/Makefile
data/icons/hicolor/22x22/apps/Makefile.in
data/icons/hicolor/24x24/Makefile
data/icons/hicolor/24x24/Makefile.in
data/icons/hicolor/24x24/apps/Makefile
data/icons/hicolor/24x24/apps/Makefile.in
data/icons/hicolor/256x256/Makefile
data/icons/hicolor/256x256/Makefile.in
data/icons/hicolor/256x256/apps/Makefile
data/icons/hicolor/256x256/apps/Makefile.in
data/icons/hicolor/32x32/Makefile
data/icons/hicolor/32x32/Makefile.in
data/icons/hicolor/32x32/apps/Makefile
data/icons/hicolor/32x32/apps/Makefile.in
data/icons/hicolor/48x48/Makefile
data/icons/hicolor/48x48/Makefile.in
data/icons/hicolor/48x48/apps/Makefile
data/icons/hicolor/48x48/apps/Makefile.in
data/icons/hicolor/64x64/Makefile
data/icons/hicolor/64x64/Makefile.in
data/icons/hicolor/64x64/apps/Makefile
data/icons/hicolor/64x64/apps/Makefile.in
data/icons/hicolor/72x72/Makefile
data/icons/hicolor/72x72/Makefile.in
data/icons/hicolor/72x72/apps/Makefile
data/icons/hicolor/72x72/apps/Makefile.in
data/icons/hicolor/96x96/Makefile
data/icons/hicolor/96x96/Makefile.in
data/icons/hicolor/96x96/apps/Makefile
data/icons/hicolor/96x96/apps/Makefile.in
data/icons/hicolor/Makefile
data/icons/hicolor/Makefile.in
data/icons/hicolor/scalable/Makefile
data/icons/hicolor/scalable/Makefile.in
data/icons/hicolor/scalable/apps/Makefile
data/icons/hicolor/scalable/apps/Makefile.in
depcomp
install-sh
libtool
ltmain.sh
missing
plugins/Makefile
plugins/Makefile.in
plugins/audioscrobbler/.deps/
plugins/audioscrobbler/.libs/
plugins/audioscrobbler/Makefile
plugins/audioscrobbler/Makefile.in
plugins/audioscrobbler/audioscrobbler.ario-plugin
plugins/filesystem/.deps/
plugins/filesystem/.libs/
plugins/filesystem/Makefile
plugins/filesystem/Makefile.in
plugins/filesystem/filesystem.ario-plugin
plugins/information/.deps/
plugins/information/.libs/
plugins/information/Makefile
plugins/information/Makefile.in
plugins/information/information.ario-plugin
plugins/libnotify/.deps/
plugins/libnotify/.libs/
plugins/libnotify/Makefile
plugins/libnotify/Makefile.in
plugins/libnotify/libnotify.ario-plugin
plugins/mmkeys/.deps/
plugins/mmkeys/.libs/
plugins/mmkeys/Makefile
plugins/mmkeys/Makefile.in
plugins/mmkeys/mmkeys.ario-plugin
plugins/radios/.deps/
plugins/radios/.libs/
plugins/radios/Makefile
plugins/radios/Makefile.in
plugins/radios/radios.ario-plugin
plugins/wikipedia/.deps/
plugins/wikipedia/.libs/
plugins/wikipedia/Makefile
plugins/wikipedia/Makefile.in
plugins/wikipedia/wikipedia.ario-plugin
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/ar.gmo
po/ca.gmo
po/cs.gmo
po/da.gmo
po/de.gmo
po/en_AU.gmo
po/en_CA.gmo
po/en_GB.gmo
po/eo.gmo
po/es.gmo
po/et.gmo
po/fi.gmo
po/fr.gmo
po/ga.gmo
po/he.gmo
po/hr.gmo
po/hu.gmo
po/id.gmo
po/it.gmo
po/ja.gmo
po/nb.gmo
po/nds.gmo
po/nl.gmo
po/oc.gmo
po/pl.gmo
po/pt.gmo
po/pt_BR.gmo
po/ro.gmo
po/ru.gmo
po/stamp-it
po/sv.gmo
po/th.gmo
po/tr.gmo
po/uk.gmo
po/vi.gmo
po/zh_CN.gmo
po/zh_HK.gmo
po/zh_TW.gmo
src/.deps/
src/AUTHORS.tab
src/Makefile
src/Makefile.in
src/ario
stamp-h1
